# Laravel dins src/
src/vendor/
src/node_modules/
src/.env
src/.env.*
!src/.env.example
src/storage/*.key
src/storage/logs/*.log
src/bootstrap/cache/*.php
src/.phpunit.result.cache
src/public/storage
src/public/hot
src/public/build/

# Docker / sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/